<div class="container text-center">
	<h1>About page for alphablog</h1>
</div>


<div class="container text-center">
	<div class="row">
		<p class="text-center">This page project is the first project in the course for new ruby developers.</p>
	</div>
</div>

