<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 mx-auto">
				<p class="text-center"><%=link_to "Home", root_path%> | <%=link_to "Articles", articles_path%> | <%=link_to "About", about_path%> </p>
				<p class="copyright text-muted text-center">Copyright &copy; Ultra AlphaBlog 3017</p>
			</div>
		</div>
	</div>
</footer>
